*{
	box-sizing:border-box ;
	margin: 0;
	padding: 0;
}
.navigation-link-header a{
	color: black;
}
nav{
	background: #4682B4;
}
.carousel{
  margin-top: 20px;
}
.d-block{
 width: 50%;
margin: auto;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color: #007bb5;
}

	/*content*/
.div-conatiner{
	padding: 15px;
  border: no-border;
  margin-bottom: 20px;
  display: block;
  margin-top: 50px;
}
.div-conatiner h1{
	font-size: 40px;
	font-family: popins, sans-serif;
	text-align: center;
 
}
.div-conatiner h2{
	color: #095474;
	font-size: 30px;
	border-bottom: 5px solid darkblue ;
}
.div-conatiner h3{
	text-align: center;
}
.div-conatiner h4{
	font-size: 20px;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.div-conatiner p{
	color: #7A7A7A;
	line-height: 2em;
	margin: 0 0 24px;
	font-size: 15px;
	font-family: Roboto, sans-serif;
	text-align: justify;
	display: block;
    margin-block-start: 1em;
  	margin-block-end: 1em;
  	margin-inline-start: 0px;
  	margin-inline-end: 0px;
}
.bordery img{
	height: 35rem;
    max-width: 100%;
	border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: #CBD2DE;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    box-shadow: 64px 64px 160px -40px rgb(0 0 0 / 24%);
    vertical-align: middle;
    display: inline-block;
  
}
/*---------------LOGOs--------------------*/
.whatsapp-message-phone-logo{
  overflow: visible;
}
.padding-logo-in-between{
  padding: 5px;
}
.whatsapp-message-phone-logo-1{
  width: 200px;
  position: fixed;
  top:auto;
  bottom:0px;
  left:0px;
  right:auto;
  margin-left: 30px;
  margin-bottom: 30px;
}
.logo-link-for-phone{
  text-decoration: none;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.common-conatct-logo1{
  background-color:rgba(0, 255, 0, 0.9);
  color: white;
  height: 55px;
  width: 55px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.8em;
  text-align: center;
  cursor: pointer;
}
.common-conatct-logo2{
  background-color:rgba(37, 211, 102, 0.8);
  color: white;
  height: 55px;
  width: 55px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  padding: 0.8em;
  cursor: pointer;
  
}
.common-conatct-logo1-hover{
  display: none;
}
.common-conatct-logo1-display:hover + .common-conatct-logo1-hover{
  display: block;
  color: darkblue;
}

/*footer*/
.footer-social-media{
	font-size: 30px;
	padding: 15px 15px;
	text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
footer{
	padding-top: 1.333em;
	padding-bottom: 1.333em;
	background-color: #4682B4;
	text-align: center;
	line-height: 1.85714285714286;
	color: #fff;
	font-size: 15px;
}
/*carausel*/

.carousel{
  height: 500px;
  margin: 30px;
}
